<h1>Make your form here</h1>

<form action="/pirates" method="post">
  <h1> Pirate </h1>
  Name<input type="text" name="pirate[name]">
  Weight<input type="text" name="pirate[weight]">
  Height<input type="text" name="pirate[height]">

  <h1> First Ship </h1>
  Name<input type="text" id="ship_name_1" name="pirate[ships][][name]">
  Type<input type="text" id="ship_type_1" name="pirate[ships][][type]">
  Booty<input type="text" id="ship_booty_1" name="pirate[ships][][booty]">

  <h1> Second Ship </h1>
  Name<input type="text" id="ship_name_2" name="pirate[ships][][name]">
  Type<input type="text"  id="ship_type_2" name="pirate[ships][][type]">
  Booty<input type="text"  id="ship_booty_2" name="pirate[ships][][booty]">
  
  <input type="submit" name="submit" value="submit" id="Submit"/>
</form>